main {
  position: relative;
  height: calc(100vh - var(--header-height) - 120px);
}
main .container{
  height: 100%;
  padding: 18px 20px 0;
}
.cards {
  position: relative;
  width: 100%;
}
.cards .card{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #FFEFFA;
  transform: scale(0.9);
  transition: all .3s;
}

.cards .card.move{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: initial;
}
.cards .card.active{  
  transform: scale(1);
}

.cards .card.correct{
  
}
.cards .card.correct.end{
  left: 100%;
}
.cards .card.incorrect{

}
.cards .card.incorrect.end{
  left: -100%;
}
.cards .card .granding{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 250px;
  color: #FF8DD4;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.cards .card .granding i{
  display: none;
}
.cards .card.correct .granding .ph-circle{
  display: block;
}
.cards .card.incorrect .granding .ph-x{
  display: block;
}
.cards .card.end .granding{
  opacity: 1;
}
.cards .card span.word{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #111111;
  font-size: 28px;
  font-weight: 700;
  transform: translate(-50%, -50%);

}
.cards .card .bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.cards .card .bottom .page{
  font-size: 14px;
  color: #999999;
}
.cards .card .bottom .page .cur{
  color: #FF8DD4;
}
.cards .card .bottom .star{
  color: #FF8DD4;
}
.cards .card .bottom .speaker{
  color: #FF8DD4;
}
.btns{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: var(--fff-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btns button{
  flex: 1;
  height: 80px;
  font-size: 32px;
  color: #fff;
  background: #ccc;
  border-radius: 10px;
}
.btns button.o_btn{
  background: #FF8DD4;
}
.test_result_box{
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background: var(--fff-color);
  transition: all .3s;
}
.test_result_box.active{
  top: 0;
  left: 0;
}

.test_result_box .top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height) - 195px);
}
.test_result_box .top .progress_bar{
  position: relative;
  width: 240px;
  height: 240px;
}
.test_result_box .btns{
  position: absolute;
  flex-flow: column;
  gap: 10px;
}
.test_result_box .btns button{
  flex: initial;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border: 8px;
  font-weight: 700;
  font-size: 16px;
  color: var(--fff-color);
}
.test_result_box .btns button.out_line{
  border: 1px solid #FF8DD4;
  color: #FF8DD4;
  background: var(--fff-color);
}
.test_result_box .btns button.fill {
  background: #FF8DD4;
}
.test_result_box .btns button.gray {
  background: #CCCCCC;
}
.progressbar-text{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.progressbar-text h2 {
  font-size: 36px;
  font-weight: 700;
  color: #FF8DD4;
}
.progressbar-text strong {
  font-weight: 700;
  font-size: 14px;
  color: #FF8DD4;
}
.progressbar-text span {
  font-weight: 400;
  color: #999999;
  font-size: 14px;
}

.answer_card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background: #FFEFFA;
}
.answer_card[data-result="incorrect"]{
  background: #F5F5F5;
  color: #CCCCCC;
}
.answer_card[data-result="incorrect"] i.ph-circle{
  display: none;
}
.answer_card[data-result="correct"]{
  background: #FFEFFA;
  color: #FF8DD4;
}
.answer_card[data-result="correct"] i.ph-x{
  display: none;
}
.answer_card .left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.answer_card .left i{
  font-size: 20px;
}
.answer_card .left .texts{
  display: flex;
  flex-flow: column;
  gap: 10px;
  color: #111;
}
.answer_card .left .texts span{
  font-size: 16px;
  font-weight: 700;
}
.answer_card .left .texts p{
  font-size: 12px;
  font-weight: 400;
}
.answer_card .right{
  
}
.answer_card .right img{
  width: 24px;
}

.modal.show_answer .modal_content .modal_top{
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 39px;
}
.modal.show_answer .modal_content .modal_top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 3px;
  border-radius: 5;
  background-color: #DDDDDD;
  transform: translate(-50%,0);
}
.modal.show_answer .modal_content .modal_middle > ul {
  gap: 10px;
}
.modal.show_answer .modal_content .modal_middle > ul li{}