main {
  position: relative;
  height: calc(100vh - var(--header-height) - 120px);
}
main .container{
  display: flex;
  flex-flow: column;
  gap: 16px;
  height: 100%;
  padding: 0 20px 0;
}
main .container .progressbar_box{
  
}
main .container .progressbar_box .progressbar{
  width: 100%;
  height: 16px;
  border-radius: 50px;
  background: #ff8dd44d;
  overflow: hidden;
}
main .container .progressbar_box .progressbar .active_bar{
  width: calc(var(--cur-page) / (var(--total-page)) * 100%);
  height: 100%;
  border-radius: 50px;
  background: #ff8dd4;
  transition: all .3s;
}
.cards {
  position: relative;
  width: 100%;
  height: calc(100% - 32px);
}
.cards .card{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #FFEFFA;
  transform: scale(0.9);
  transition: all .3s;
}

.cards .card.move{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: initial;
}
.cards .card.active{  
  transform: scale(1);
}

.cards .card.correct{
  background: #E0FFE5;
}
.cards .card.correct.end{
  left: 100%;
}
.cards .card.incorrect{
  background: #FFE1E2;
}
.cards .card.incorrect.end{
  left: -100%;
}
.cards .card .granding{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 150px;
  color: #FF8DD4;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.cards .card .granding i{
  display: none;
}
.cards .card .granding i.ph-circle{
  color: #17e93780;
}
.cards .card .granding i.ph-x{
  color: #FF585B80;
}
.cards .card.correct .granding .ph-circle{
  display: block;
}
.cards .card.incorrect .granding .ph-x{
  display: block;
}
.cards .card.end .granding{
  opacity: 1;
}
.cards .card span.word{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #111111;
  font-size: 28px;
  font-weight: 700;
  transform: translate(-50%, -50%);
}
.cards .card span.word.hint {
  display: none;
}
.cards .card.hint span.word {
  display: none;
}
.cards .card.hint span.word.hint {
  display: block;
}
.cards .card .bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.cards .card .bottom .page{
  font-size: 14px;
  color: #999999;
}
.cards .card .bottom .page .cur{
  color: #FF8DD4;
}
.cards .card .bottom .marker{
  width: 18px;
}
.cards .card .bottom .speaker{
  color: #FF8DD4;
}
.btns{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: var(--fff-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btns button{
  flex: 1;
  height: 80px;
  font-size: 32px;
  color: #fff;
  background: #ccc;
  border-radius: 10px;
}
.btns button.o_btn{
  background: #17E937;
}
.btns button.x_btn{
  background: #FF585B;
}



