:root {
  --footer-height : 71px;
  --header-height : 58px;

  --000-color : #000;
  --111-color : #111;
  --fff-color : #fff;
}
html {
  /* 모바일 환경에서 확대/축소 기능 제한 */
  /* pointerMove 이벤트 끊김 현상 해결 */
  /* touch-action: none;  */
}
body {
  background-color: var(--fff-color);
  color: var(--111-color);
  overflow: hidden; /* 스크롤을 제한하여 사용자가 페이지를 확대/축소할 수 없도록 함 */
}


[data-theme="light"] {
  --000-color : #000;
  --111-color : #111;
  --fff-color : #fff;
}
[data-theme="dark"] {
  --000-color : #000;
  --111-color : #fff;
  --fff-color : #111;
}
.container{
  display: flex;
  width: 100%;
  padding: 16px;
}
header {
  height: var(--header-height);
}
header .container{
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 14px;
}
header .container .back_btn{
  color: #ccc;
  font-size: 24px;
}
header .container h2{
  font-weight: 500;
  color: var(--111-color);
}
header .container h2 strong{
  color: #FF8DD4;
}
header .container h2 span{

}
header .container .btns{
  display: flex;
  gap: 10px;
  color: #FF8DD4;
  font-size: 20px;
}
header .container .btns button{

}


.react header .container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
  color: var(--111-color);
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  color: #ccc;
  border-top: 1px solid #DDDDDD;
  background: var(--fff-color);
}
footer nav{
  padding-top: 10px;
  padding-bottom: 20px;
}
footer nav ul{
  display: flex;
}
footer nav ul li{
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  margin: 0 auto;
}
footer nav ul li.active{
  color: #FF8DD4;
}
footer nav ul li i{
  font-size: 24px;
}
footer nav ul li span{
  font-size: 10px;
  font-weight: 700;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: #00000000;
  transition: all .3s;
}
.modal.active {
  background: #00000080;
}

.modal .modal_content{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 30px;
  max-height: calc(100vh - 50px);
  height: auto;
  padding: 20px;
  background: var(--fff-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transform: translate(0px, 100%);
  transition: all .3s;
}
.modal.active .modal_content{
  transform: translate(0px, 0%);
  padding-bottom: 95px;
}
.modal .modal_content .modal_top{
  text-align: center;
  color: var(--111-color);
  font-size: 18px;
  font-weight: 700;
}

.modal .modal_content .modal_middle{
  max-height: calc(100vh - 20px - 27px - 30px - 45px - 20px);
  overflow: auto;
}
.modal .modal_content .modal_middle > ul{
  display: flex;
  flex-flow: column;
  gap: 30px;
}
.modal .modal_content .modal_bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: var(--fff-color);
  color: var(--fff-color);
}
.modal .modal_content .modal_bottom .buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
}
.modal .modal_content .modal_bottom .buttons button{
  flex: 1;
  height: 100%;
  border-radius: 8px;
}
.modal .modal_content .modal_bottom .buttons button.gray{
  background: #CCCCCC;
}
.modal .modal_content .modal_bottom .buttons button.pink{
  background: #FF8DD4;
}

.modal.confirm .modal_content .modal_top{
  display: none;
}
.modal.confirm .modal_content .modal_middle{
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin-top: 20px;
  text-align: center;
  color: var(--111-color);
}

.modal.confirm .modal_content .modal_middle h3{
  font-size: 18px;
  font-weight: 700;
}
.modal.confirm .modal_content .modal_middle span{
  font-size: 14px;
  font-weight: 400;
}
.input_text,
.selete_box{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.input_text label,
.selete_box label{
  font-size: 14px;
  font-weight: 700;
  color: var(--111-color);
}
.input_text label strong,
.selete_box label strong{
  color: #FF8DD4;
}
.input_text input,
.selete_box select{
  height: 45px;
  padding: 0 15px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  background: var(--fff-color);
  transition: all .3s;
}
.input_text > .message{
  display: none;
}
.input_text .search_list {
  display: none;
  /* display: flex; */
  flex-flow: column;
  /* gap: 10px; */
  max-height: 215px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #FFEFFA;
  overflow: auto;
}
.input_text .search_list li{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 37px;
  
}
.input_text .search_list li:not(:last-child){
  border-bottom: 1px solid #DDDDDD;
}
.input_text .search_list li .search_word{
  font-weight: 700;
  font-size: 14px;
}
.input_text .search_list li .search_word strong{
  color: #FF8DD4;
}
.input_text .search_list li .search_meaning{
  flex: 1;
  font-size: 11px;
}
.input_text .search_list.active{
  display: flex;
}
.input_text.warning input{
  border-color: red;
}
.input_text.warning span{
  display: block;
  color: red;
}
.input_color {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.input_color ul {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.input_color ul li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--main-color);
  transition: all .3s;
}
.input_color ul li i{
  display: none;
  color: #fff;
  font-size: 15px;
}
.input_color ul li.active i{
  display: block;
}

.selete_box select{
  -webkit-appearance: none;  /* Chrome, Safari에서 기본 화살표 제거 */
  -moz-appearance: none;     /* Firefox에서 기본 화살표 제거 */
  appearance: none;          /* 표준 속성 */
  background-image: none;    /* 배경 이미지 제거 (화살표 포함 가능성) */
}
.selete_box select[disabled]{
  background: #F5F5F5;
}


#logEl {
  position: fixed;
  top: 50px;
  right: 50px;
  max-width: 80%;
  max-height: 50%;
  width: auto;
  height: auto;
  background: #ccc;
  color: #111;
  overflow: scroll;
}