main {
  position: relative;
}
main .container {
  height: calc(100vh  - var(--header-height));
  padding: 0;
}
.items{
  position: relative;
  width: 100%;
  
}
.items .item{
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 16px;
  transition: all .3s;
}
.items .item.active{
  left: 0;
}
.items .item.end{
  left: -100%;
}
.card{
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #FFEFFA;
  transition: all .3s;
}

.card.correct{
  
}
.card.incorrect{
  
}
.card .granding{
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  font-size: 150px;
  color: #FF8DD4;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .3s;
}
.card .granding i{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
.item.correct .card .granding .ph-circle{
  visibility: visible;
}
.item.incorrect .card {
  background: #F5F5F5;
}
.item.incorrect .card .granding .ph-x{
  visibility: visible;
  color: #cccccc80;
}
.item .card.end .granding{
  opacity: 1;
}
/* .card.correct .granding .ph-circle{
  visibility: visible;
} */
/* .card.incorrect .granding .ph-x{
  visibility: visible;
} */
/* .card.end .granding{
  opacity: 1;
} */
.card span.word{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #111111;
  font-size: 28px;
  font-weight: 700;
  transform: translate(-50%, -50%);
}
.card span.word.hint{
  display: none;
}
.card .bottom{
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.card .bottom .page{
  font-size: 14px;
  color: #999999;
}
.card .bottom .page .cur{
  color: #FF8DD4;
}
.card .bottom .marker{
  width: 18px;
}
.card .bottom .speaker{
  color: #FF8DD4;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 10px;
  width: 100%;
}
.btns button{
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #FF8DD4;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}
.btns button.active{
  background: #FF8DD4;
  color: #FFFFFF;
}