header {
  border-bottom: 1px solid #ddd;
}
header .container h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--111-color);
}

main {}
main ul{
  width: 100%;
}
main ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
main ul li .left{
  display: flex;
  align-items: center;
  gap: 8px;
}
main ul li .left i{
  font-size: 20px;
  color: #FF8DD4;
}
main ul li .left i.ph-duotone.ph-user-circle:before{
  opacity: 1;
}
main ul li .left span{
  font-size: 16px;
  font-weight: 700;
  color: var(--111-color);
}
main ul li .right{
  display: flex;
  align-items: center;
  gap: 5px;
}
main ul li .right span{
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
main ul li .right i{
  font-size: 20px;
  color: var(--111-color);
}
main {

} 
main ul.login_box {
  
}
main ul.login_box li {
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 0px;
}
main ul.login_box li:not(:last-child){
  border-bottom: 1px solid #ddd;
}
main ul.login_box li h2{
  font-size: 16px;
  font-weight: 700;
  color: var(--111-color);
}
main ul.login_box li div{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
}
main ul.login_box li div .google_logo{
  width: 16px;
  height: 16px;
}
main ul.logout_box {
  padding-top: 8px;
  background: #f5f5f5;
}
main ul.logout_box li{
  border-bottom: 1px solid #ddd;
  background: var(--fff-color);
}
main ul.logout_box li h2{
  font-size: 16px;
  font-weight: 700;
  color: var(--111-color);
}
main ul.logout_box li div{
  font-size: 14px;
  font-weight: 400;
  color: #999;
}


.toggle_box{

}
.toggle_box .theme_checkbox {
  display: none;
}
.toggle_box .switch_box{
  position: relative;
  display: flex;
  align-items: center;
  width: 48.81px;
  height: 25px;
  border-radius: 50px;
  transition: all .3s;
}
.toggle_box .switch_box .btn_icon{
  position: absolute;
  top: 50%;
  left: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  transform: translate(0, -50%);
  transition: all .3s;
}
.toggle_box .switch_box .btn_icon i{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.toggle_box .theme_checkbox:checked + 
.switch_box{
  background: #fff;
}
.toggle_box .theme_checkbox:checked + 
.switch_box .btn_icon{
  left: 100%;
  transform: translate(calc(-100% - 2.5px), -50%);
  background: #111;
}
.toggle_box .theme_checkbox:checked + 
.switch_box .btn_icon .ph-moon{
  display: block;
  color: #fff;
  visibility: visible;
  opacity: 1;
}
.toggle_box .theme_checkbox:not(:checked) + 
.switch_box{
  background: #FF8DD4;
}
.toggle_box .theme_checkbox:not(:checked) + 
.switch_box .btn_icon{
  background: #fff;
}
.toggle_box .theme_checkbox:not(:checked) + 
.switch_box .btn_icon .ph-sun{
  display: block;
  color: #FF8DD4;
  visibility: visible;
  opacity: 1;
}
