main {}
main .container {}
main .container ul {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
}
main .container ul li {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 20px;
  background: var(--card-background);
  border-radius: 12px;
}
main .container ul li .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container ul li .top h3{
  font-weight: 700;
}
main .container ul li .top span{
  color: #999999;
  font-size: 10px;
}
main .container ul li .progress_bar{
  width: 100%;
  height: 16px;
  border-radius: 50px;
  background: var(--progress-color);
  overflow: hidden;
}
main .container ul li .progress_bar .cur_bar{
  position: relative;
  display: flex;
  align-items: center;
  width: var(--progress-width);
  height: 100%;
  background: var(--card-color);
  border-radius: 50px;
}
main .container ul li .progress_bar .cur_bar span{
  position: absolute;
  top: 50%;
  right: 8px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  transform: translate(0, -50%);
}
main .container ul li .progress_bar .cur_bar span.right {
  right: -24px;
}

[data-page="vocabulary_list_edit"] main .container ul li {
  flex-flow: initial;
  align-items: flex-start;
  justify-content: space-between;
}
[data-page="vocabulary_list_edit"] main .container ul li .top{
  flex-flow: column;
  align-items: start;
  gap: 5px;
}
[data-page="vocabulary_list_edit"] main .container ul li .btns {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button{
  
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button.edit_btn{
  color: var(--card-color);
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button.delete_btn{
  color: red;
}