main {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto;
}
main .daily_quote_container {
  position: relative;
  padding: 0 16px;
}
main .daily_quote_container .spring_box{
  position: absolute;
  top: -7px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 23px;
  padding: 0 30px;
}
main .daily_quote_container .spring_box img{
  width: 12px;
}
main .daily_quote_container .daily_quote{
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  margin-top: 7px;
  padding: 20px;
  padding-top: 30px;
  border-radius: 12px;
  background: #FFEFFA;
}

main .daily_quote_container .daily_quote h2{
  font-size: 16px;
  font-weight: 700;
  color: #111;
}
main .daily_quote_container .daily_quote .content{
  display: flex;
  flex-flow: column;
  gap: 10px;
  color: #000;
}
main .daily_quote_container .daily_quote .content .origin{
  font-size: 14px;
  font-weight: 600;
}
main .daily_quote_container .daily_quote .content .meaning{
  font-size: 12px;
  font-weight: 400;
}
main .container {}
main .container ul {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
}
main .container ul li {
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding: 20px;
  background: var(--card-background);
  border-radius: 12px;
}
main .container ul li .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container ul li .top h3{
  color: #111;
  font-weight: 700;
}
main .container ul li .top span{
  color: #999999;
  font-size: 10px;
}
main .container ul li .progress_bar{
  width: 100%;
  height: 16px;
  border-radius: 50px;
  background: var(--progress-color);
  overflow: hidden;
}
main .container ul li .progress_bar .cur_bar{
  position: relative;
  display: flex;
  align-items: center;
  width: var(--progress-width);
  height: 100%;
  background: var(--card-color);
  border-radius: 50px;
}
main .container ul li .progress_bar .cur_bar span{
  position: absolute;
  top: 50%;
  right: 8px;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  transform: translate(0, -50%);
}
main .container ul li .progress_bar .cur_bar span.right {
  right: -24px;
}
main .container ul li.empty_message {
  align-items: center;
  width: 220px;
  padding: 0;
  padding-top: 30px;
  margin: 0 auto;
}
main .container ul li.empty_message .top{
  
}
main .container ul li.empty_message .top i{
  font-size: 70px;
  color: #FFD2EF;
}
main .container ul li.empty_message .middle{
  font-size: 16px;
  text-align: center;
}
main .container ul li.empty_message .middle span{
  white-space: normal; 
  word-break: keep-all;
}
main .container ul li.empty_message .middle strong{
  color: #FF8DD4;
  font-weight: 700;
  white-space: normal; 
  word-break: keep-all; 
}
main .container ul li.empty_message .bottom {
  margin-top: 5px;
}
main .container ul li.empty_message .bottom button{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #FF8DD4;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
main .container ul li.empty_message .bottom button i{
  font-size: 16px;
}
[data-page="vocabulary_list_edit"] main {
  height: calc(100vh - var(--header-height));
  overflow: auto;
}
[data-page="vocabulary_list_edit"] main .container ul li {
  flex-flow: initial;
  align-items: flex-start;
  justify-content: space-between;
}
[data-page="vocabulary_list_edit"] main .container ul li .top{
  flex-flow: column;
  align-items: start;
  gap: 5px;
}
[data-page="vocabulary_list_edit"] main .container ul li .btns {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button{
  
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button.edit_btn{
  color: var(--card-color);
}
[data-page="vocabulary_list_edit"] main .container ul li .btns button.delete_btn{
  color: red;
}